body,ol,ul,li,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,form,
textarea,select{
	margin:0; padding: 0;
}
a{
	text-decoration:none;color:#000;display: block;
}
img{
	border:none;display: block;
}
ul li,ol li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight:normal;
}
body{
	font-family: "微软雅黑";font-size: 16px;overflow-x: hidden;
}
.ta_c{
	text-align: center;
}
.clearfix:after{
	content: "";display: block;font-size: 0;height: 0;overflow: hidden;
	visibility: hidden;clear: both;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
table{
	border-collapse: collapse;border-spacing: 0;
}
.flx{
	display: flex;
}